* {
    box-sizing: border-box;
}
/*estilos del formulario*/
body {
    font-family: 'roboto', sans-serif;
    background-color:#f2f2f2 ;
    margin: 0;
    padding: 0;
}
form {
    width: 500px;
max-width: 500px;
margin: 0 auto;
padding: 20px;
background-color: #ffff;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

display: flex;
flex-direction: column;
margin-top: 50px;
}
input, select ,textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;

}